<section class="hero" style="background-image: url('transform.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="hero-content">
        <h1>Key Initiatives</h1>
    </div>
</section>
<section class="container-fluid">
    <div class="container py-5">
        <div class="main-container">
            <div class="header">
                <h2>Our Programmes</h2>
            </div>
            
            <div class="row ">
               <div class="sid">
                <div class="col-md-6 mb-4 shadow sid rounded p-3 bg-white">
                    <div class="program-card">
                        <img src="musapeople.jpg" alt="CEE Partnership with Musa" class="card-img-top">
                        <div class="card-body">
                            <div class="date-label">
                                <span class="icon">🕒</span>
                                <span>February- April 2024</span>
                              </div>
                            <h5 class="card-title">CEE Partnership</h5>
                            <p class="program-description">
                                Musa Kondeh was a former CEE Fellow under the IREX program, with ACCI serving as his host organization. During his time in the U.S., he contributed to ACCI’s food justice and youth development initiatives. He also supported coordination efforts with the Africa team, fostering global collaboration. Though no longer with ACCI, his contributions remain part of our legacy of impact.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4 shadow rounded p-3 bg-white">
                    <div class="program-card">
                        <img src="empcom.jpg" alt="Food Distribution Drive" class="card-img-top">
                        <div class="card-body">
                            <div class="date-label">
                                <span class="icon">🕒</span>
                                <span>All year round</span>
                              </div>
                            <h5 class="card-title">Food Distribution Drive</h5>
                            <p class="program-description">
                                Our food distribution drives allow us to distribute essential food supplies to vulnerable communities, as held throughout the year.
                            </p>
                        </div>
                    </div>
                </div>
               </div>
                <div class="sid">
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white">
                        <div class="program-card">
                            <img src="mancartorn.jpg" alt="Volunteering at the People's Kitchen" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>March 2024</span>
                                  </div>
                                <h5 class="card-title">Volunteering at the People's Kitchen</h5>
                                <p class="program-description">
                                    Our volunteers helped in the People's Kitchen initiative, serving food to those in need while promoting community solidarity.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white">
                        <div class="program-card">
                            <img src="helppeople.jpg" alt="Deicon Gives Day" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>May 2024</span>
                                  </div>
                                <h5 class="card-title">Deicon Gives Day</h5>
                                <p class="program-description">
                                    Organized the Deicon Gives Day in partnership with various local organizations (Active ACE), volunteers helped distribute food and essential items to vulnerable families.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sid">
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white">
                        <div class="program-card">
                            <img src="mantalk.jpg" alt="CEE Fellowship Workshop" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>July 2024</span>
                                  </div>
                                <h5 class="card-title">CEE Fellowship Workshop</h5>
                                <p class="program-description">
                                    Hosted a workshop in partnership to train young people on accessing and maximizing global opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white">
                        <div class="program-card">
                            <img src="manwithpc.jpg" alt="IYD Workshop" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>August 2024</span>
                                  </div>
                                <h5 class="card-title">IYD Workshop</h5>
                                <p class="program-description">
                                    Organized an International Youth Day workshop in August, focusing on youth empowerment and community involvement through discussions and skill-building activities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="col-md-6 mb-4  shadow rounded p-3 bg-white" >
                        <div class="program-card">
                            <img src="manfarm.jpg" alt="Climate Workshop" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>October and November 2024</span>
                                  </div>
                                <h5 class="card-title">Climate Workshop</h5>
                                <p class="program-description">
                                    Held a series of workshops in October and November in which we were actively addressing climate change awareness, and encouraging young people to engage in environmental advocacy and activism.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="initiatives-section" style="background-image: url('flower.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="initiatives-content">
        <h2>Join Us In Making A Difference</h2>
        <a [routerLink]="['/partnerWithUs']" rel="noopener noreferrer" class="initiatives-btn">Partner with Us</a>
    </div>
</section>