<section class="hero" style="background-image: url('transform.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="hero-content">
        <h1>Key Initiatives</h1>
    </div>
</section>
<section class="container-fluid">
    <div class="container py-5">
        <div class="main-container">
            <div class="header">
                <h2>Our Programmes</h2>
            </div>
            
            <div class="row">
               <div class="sid">
                <div class="col-md-6 mb-4 shadow sid rounded p-3 bg-white"  data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="program-card">
                        <img src="https://s3-alpha-sig.figma.com/img/6e12/ecba/c4c174069069543e9f1ebb09e9259cd4?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=UCaCsToEkX5T1mxmowG0t7GQhP4WKkOOSjS2oGTsGad~BsWfTYDY1hahCyBLxwmXfcE6RpAXS60CNGvvs5jSJ8rVcGFI-wQtikn328YB5bVEaqEVAFSHPeN~7hFpvu1IdlBFVHM8scE3z39pgQSwd51LwRu0~GANViF5GL74rhtAm1sC7LrbhkqM2cWaUy5TuzvAaSf4SOi8j-aHeiF8WaRpU9MWwMgiVcmVqNyPObfeJeDptmbInEsid7APyH1xGD-G9h9vy95Kp9y-QmbG2ldCvz5hXodJiv23gAh-vfGISqcqYsLqFEdmWpJp~B0CMNZvUzRXdT45vNq05iyQRA__" alt="CEE Partnership with Musa" class="card-img-top">
                        <div class="card-body">
                            <div class="date-label">
                                <span class="icon">🕒</span>
                                <span>February 2024</span>
                              </div>
                            <h5 class="card-title">CEE Partnership with Musa as a Fellow</h5>
                            <p class="program-description">
                                CEE Partnership with Maca as a Fellow (February): Partnered with CEE (Community Engagement Enterprise) to support Maca's insight, within the community groups that CEE are currently linked to in Islington.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-4 shadow rounded p-3 bg-white"  data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="program-card">
                        <img src="https://s3-alpha-sig.figma.com/img/0889/0352/7c80dae885ec32616f5996af797b2e37?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=GMmZiJJWGaUwzOZ2TdqNXxI5-ibMJbkDGhj3SHkex0x0Wup3I93x8hyWR7rBDzdcSmv8~sjoYRAzPAouls~PuyAGzDUfDiATWNt1JUsxeDoh15e0j4faGoER6vvH5cLL507cFH7zf~dK173uBNaKxNW0V812ab7RShhJydN0EmWV7ch~IHI3AttJtZAWc-pgQTa1cNpVAymqhBcKFpiRRCwAifJ2cQo2FMs8h4TrIdNLcfjnn8e9amJ1PJvcOdu2GMs~OqQDqlpSGjpXhc7OJcgCuHjbtxOJ-YumqvRvLhpTRP9957MHn-Nmr7z3QfsS67bsbIXPX6gfKCNWg0ocgQ__" alt="Food Distribution Drive" class="card-img-top">
                        <div class="card-body">
                            <div class="date-label">
                                <span class="icon">🕒</span>
                                <span>All year round</span>
                              </div>
                            <h5 class="card-title">Food Distribution Drive</h5>
                            <p class="program-description">
                                Our food distribution drives allow us to distribute essential food supplies to vulnerable communities, as held throughout the year.
                            </p>
                        </div>
                    </div>
                </div>
               </div>
                <div class="sid">
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white"  data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="program-card">
                            <img src="https://s3-alpha-sig.figma.com/img/9014/4738/37a2cfe71382753986fac9b9677be4b7?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ajXgfXSnMMxB4o0OpvHBwoqmQSFq90JaLNFI~-TXG9y9Vq2roAfoMUVIKAmXOip35H-u3YH-4LFnNXDZ3wBCKLyN-K6e7D9Pi9iFncMtRGYyzbFypGLIk4nVPx1f4Ul3wVs9-K-nQ7IenIMXZlmvnfCjnukE0lNDJ6RLsVS0KrQ68u9ibNJQOsxIyOvYZKk1iMh8gUCIVoej3A0SaTV5Yf2JSjcaVPlOPBlRILT521Uf7wMXi94pP0oFGlSoG-l4ChKewe0yDGEKctSriOkowzP85DWfUAE5QMn401T9xAj7p2LQK2YzvuOEvTxWTrT2l3GBMFCOKk~JYUDy3bV3Wg__" alt="Volunteering at the People's Kitchen" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>March 2024</span>
                                  </div>
                                <h5 class="card-title">Volunteering at the People's Kitchen</h5>
                                <p class="program-description">
                                    Our volunteers helped in the People's Kitchen initiative, serving food to those in need while promoting community solidarity.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white"  data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="program-card">
                            <img src="https://s3-alpha-sig.figma.com/img/2989/6044/5d7a0c2831f693f89cebe3d1a358ff00?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=fxJRtueCLVDEvIuYu7~2zq~qHM2xYDY10EOl5gMygQ75PrBsUi8DWGKLiBo5JFC-tYW6I0lA~ufj9zxQhETW4PsXSIHlt4JgUSzerk-VGI7cLoCQH2RL6UKzG-TCptabyy3e08xvTB2XuicLQ9EI9KsyuoH2cOQg0Xua50Ufm3QgBbdJJn1jwFfLx1cDllOVD3qUrpcImBdel7EHRhTBxNWLpdAKXlWZ9tApt8TMnwvhTYsPhA6bel7MtoXUZqLW~WtKHU7vQYS~BmHUkeZq3cLv2pOe-UuflqBeoi4-ZO4jIWpOJvuGXTjv47aYtra72T5xAvUT~3lbI4QbBvqVTQ__" alt="Deicon Gives Day" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>May 2024</span>
                                  </div>
                                <h5 class="card-title">Deicon Gives Day</h5>
                                <p class="program-description">
                                    Organized the Deicon Gives Day in partnership with various local organizations (Active ACE), volunteers helped distribute food and essential items to vulnerable families.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sid">
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white"  data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="program-card">
                            <img src="https://s3-alpha-sig.figma.com/img/0014/0276/9fcc061c14c799c555c2a81710f1be47?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=CGP0BWVeQ2mG8ra1~uRJxyI7WSZlX6pZgykPwoFd7vQgo6GYl1VUpl0N2Ka7m0AX5AiI8ZMrsYs5Hu1-RjzT1YqHfuHCVKjupblqndSQ88IKQFpdTgu9-~2FuAxL0ozz0l5hcPlApY7JcWozXuuKw41wikJb4w3JRKBwVmqGv0MiAvxdStcOnJvYwZfHXlM4xUkprVH4IuBZhtFv-HII3czcVdkif-tDsGwzE7yGHeby3SLkKs3nOfgUG4YF7adQhh5dzvJhNQf~lQYzCm-fTqaQFnYD6m4PBj~B3p-eTBavoN1IrR7Kn8V28n-0FuaqZcdKaalRImnP3CcxvOFHOg__" alt="CEE Fellowship Workshop" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>July 2024</span>
                                  </div>
                                <h5 class="card-title">CEE Fellowship Workshop</h5>
                                <p class="program-description">
                                    Hosted a workshop in partnership to train young people on accessing and maximizing global opportunities.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-4 shadow rounded p-3 bg-white"  data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="program-card">
                            <img src="https://s3-alpha-sig.figma.com/img/6328/882e/9ca229ccb613514768076bdb7dccab0f?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=dRDCh~ne0iUhHs4VFt-a-nNPC-yckJqjArZywuECN5mEROexeAC4Lgh0c5OWriC13Fm1RSgoKkIHbNmPbqrSu2jTxYjHxks1dSqULPAzjWdno6AARWSgfn6RBgwhz7boQPN16PCiORYGpwwVhIZ8MO~DsTOsPGEAyy1QjNM16t6mii4Qq8mE8EApPwWXqtES7NX6LPZHQa9msjgzMdFBL7m5HtcZ2D9P4u6pF13l2VoCDTJ8qxBOU9~UrOofWUoXaxidGCRIrEMAWJ3qCFz~JByFdc2MNpqF3qrKdD3vqxtdm0OPpSCPuYsstvZ9Zzlw5F7xhih1kLm~99PovPERKQ__" alt="IYD Workshop" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>August 2024</span>
                                  </div>
                                <h5 class="card-title">IYD Workshop</h5>
                                <p class="program-description">
                                    Organized an International Youth Day workshop in August, focusing on youth empowerment and community involvement through discussions and skill-building activities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="col-md-6 mb-4  shadow rounded p-3 bg-white"  data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="program-card">
                            <img src="https://s3-alpha-sig.figma.com/img/b39f/34e0/2312b959365a5b8ed4262a8212e71ea1?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=TK8MM7YHq2qS-TbCEbdjLj42eju24kGnm2UXJZjvtuD1OqxyvBL2cjZ-epJdWzDFKd-HkRS7sQTQJ4PJyIxue2raWV8Xhx9C7eeeTjTssS4MsnjQJnVUACfnmVNo8usCFe3RtZI5wemL6oWdJq-HsjZqcaounznjTe~ZWU4a~onYBeDRJrPQRN8hVKC4QK8soxu-G0c6DWstTVgzvaEWqDdwoSQO5vHccSO-M3ovAdY1xv~gADGtUUXjVCWoJEcCU0X5NNuDK8YGamZVLP7CCt8vGLbCLLW3A3j9ljqxjD7Oz0ozVSuAnQlanAtKL6wV~rq88BTP5HpVbDd-S7sW0w__" alt="Climate Workshop" class="card-img-top">
                            <div class="card-body">
                                <div class="date-label">
                                    <span class="icon">🕒</span>
                                    <span>October and November 2024</span>
                                  </div>
                                <h5 class="card-title">Climate Workshop</h5>
                                <p class="program-description">
                                    Held a series of workshops in October and November in which we were actively addressing climate change awareness, and encouraging young people to engage in environmental advocacy and activism.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="initiatives-section" style="background-image: url('flower.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="initiatives-content">
        <h2>Join Us In Making A Difference</h2>
        <a href="https://forms.gle/FbaUSQs8uqTHDi4u9" target="_blank" rel="noopener noreferrer" class="initiatives-btn">Partner with Us</a>
    </div>
</section>