<section class="hero" style="background-image: url('transform.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="hero-content">
        <h1>Our Story</h1>
    </div>
</section>
<section class="impact-section">
  <div class="impact-text">
      <h2 class="impact-heading"> ACCI (Action For Collective Change Initiative)</h2>
      <p>
        Action for Collective Change Initiative (ACCI) is a U.S.-based 501(c)(3)
        grassroots non-profit organization committed to creating positive sustainable
        changes in communities worldwide. ACCI addresses social, economic, and
        environmental challenges through community-driven programs, empowering
        individuals, communities, and societies to thrive through local action and live
        better narratives.
      </p>
  </div>
  <div>
      <img src="man.jpg" alt="Hands together" class="impact-img">
  </div>
</section>
<section class="mission-vision-values">
  <div>
      <img src="https://img.freepik.com/free-photo/hands-unity_23-2151943962.jpg?t=st=1744048671~exp=1744052271~hmac=83ecd577b928cd6507f80d9f098815bd24feb05d1cce989433ac1d46266ea55a&w=900" alt="Hands together" class="mvv-img">
  </div>
  <div class="mvv-text">
      <p>
        <h3 class="mvv-title">MISSION STATEMENT</h3>
        <p>
          Empower communities, individuals, and societies to become agents of change by creating
          comprehensive solutions that address injustice, and environmental, social, and economic
          challenges and promote a sustainable world where all can thrive.
        </p>
  
        <h3 class="mvv-title">VISION</h3>
        <p>
          To create and live in a sustainable world where communities and individuals can thrive.
        </p>
  
        <h3 class="mvv-title">OUR VALUES</h3>
        <p>
          Our values guide everything we do, ensuring we remain adaptable to the evolving needs of our
          communities and world. We uphold accountability through transparency and responsibility in
          all our actions. Committed to equity, we strive to create an inclusive and fair environment
          for everyone. Through collaboration, we work hand in hand with local communities, nonprofits,
          and stakeholders to drive meaningful change and achieve shared goals.
        </p>
  </div>
</section>
<section class="impact-section">
  <div>
      <img src="chart.png" alt="Hands together" class="impact-img">
  </div>
  <div class="impact-text mt-5">
      <h2 class="impact-heading"> Our Objectives</h2>
      <p>
        Our aim is to provide education through grants, accessible online classes, and a strong network
        of partners, ensuring learning opportunities for all. Also to support youth sports programs in
        schools and communities, fostering teamwork, sportsmanship, and excellence. Furthermore,
        Entrepreneurs would benefit from our business training, networking sessions, business education,
        and micro-grant opportunities, empowering them to succeed. Additionally, we integrate the
        United Nations Global Goals for Sustainable Development into all our action projects,
        driving meaningful and lasting impact.
      </p>
  </div>
</section>
<div class="staff-section">
  <h2 class="pt-5 text-white fs-1 pb-5">Core Members</h2>

  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
      <div class="col">
        <div class="staff-card">
          <img src="sarnuel.jpg" alt="John David">
          <div class="staff-info">
            <div class="staff-name">Sarnue  Washington</div>
            <div class="staff-role">LRN</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="staff-card">
          <img src="pradish.jpg" alt="John David">
          <div class="staff-info">
            <div class="staff-name">Dr Pradish Poudel</div>
            <div class="staff-role">MD</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="staff-card">
          <img src="monah.jpg" alt="John David">
          <div class="staff-info">
            <div class="staff-name">Isaac Tom Monah</div>
            <div class="staff-role">ESQ</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="staff-card">
          <img src="andrew.jpg" alt="John David">
          <div class="staff-info">
            <div class="staff-name">Andrew Joploh</div>
            <div class="staff-role">Member</div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="staff-card">
          <img src="oyin.jpg" alt="John David">
          <div class="staff-info">
            <div class="staff-name">Oyindamola Osinubi</div>
            <div class="staff-role">Member</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
<section class="initiatives-section" style="background-image: url('flower.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="initiatives-content">
      <h2>Join Us In Making A Difference</h2>
      <a href="https://forms.gle/FbaUSQs8uqTHDi4u9" target="_blank" rel="noopener noreferrer" class="initiatives-btn">Partner with Us</a>
  </div>
</section>