p {
  font-size: 1.2rem;
}
.hero {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.impact-section {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-evenly;
  padding: 40px;
}

.impact-text {
  width: 50%;
}

.impact-heading {
  font-weight: bold;
  color: #1d3557;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}



.impact-img {
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
}
.mission-vision-values {
  width: 100%;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  background-color: #318FF3;
  color: white;
}
.mvv-img {
  flex: 1;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}
.mvv-text {
  width: 50%;
}
.mvv-title {
  font-weight: bold;
  color: white;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mvv-title {
  font-weight: bold;
  color: white;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.objectives-section {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-evenly;
  padding: 40px;
}

.objectives-text {
  width: 50%;
}

.objective-img {
  flex: 1;
  max-width: 600px;
  border-radius: 10px;
}
.objectives-heading {
  font-weight: bold;
  color: #1d3557;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.initiatives-section {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.initiatives-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.initiatives-content {
  position: relative;
  z-index: 1;
  color: white;
}

.initiatives-content h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.initiatives-btn {
  display: inline-block;
  background-color: #FFC107;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.staff-section {
  /* padding: 4rem 2rem; */
  text-align: center;
  color: #1d3557;
  background-color: #318FF3;
}

.staff-card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  transition: transform 0.2s;
}

/* .staff-card:hover {
  transform: scale(1.02);
} */

.staff-card img {
  padding: 40px;
  width: 100%;
  height: 400px;
  border-radius: 20%;
  /* border-bottom: 1px solid #eee; */
}

.staff-info {
  margin-top: -40px;
  margin-bottom: 10px;
  padding: 1rem;
}

.staff-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.staff-role {
  color: #777;
  font-size: 1.4rem;
}
@media (max-width: 800px) {
  .staff-card {
    width: 80%;
    margin: auto;
  }
  .staff-card img {
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 20%;
  }
  .staff-info {
    margin-top: -15px;
  }  
  section div p, section div {
    font-size: .9rem;
  }
  section div h1, section div h2, section div h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .impact-section {
      width: 100%;
      flex-direction: column;
      text-align: center;
  }
  .hero h1 {
    font-size: 2rem;
}
  .impact-heading::before {
      width: 20%;
  }
  .impact-text, .impact-img {
      width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .mission-vision-values {
      flex-direction: column;
      text-align: center;
  }
  .mvv-text, .mvv-img {
      width: 100%;
  }
}