<section class="hero" style="background-image: url('https://s3-alpha-sig.figma.com/img/63fb/1ac8/36b2c11ad4b31534a8a1adabcf0d8338?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=J6srvUpzTl4uAll5Ul9jznhFAsFoQPY0Mo23ypLFZmXNHSJu9boGGGhGEP~4A9zOr7THeXBYJrzf~Kc8anGpDHM~Q2OCcLOeM1CqY34hudsD9Iu3FrEJAEWbzV~NfPrcyz83TpVyrDk3SsO3Ol3UfI0pmhOsGbQkYfXN93Gn05ZtWvU~QGQl4J2Je3Ah0gPQ6amq0VkVG3A~4XjLPO9W9dFchVfC-oPQHclxGkV-xzAXegnvPWVAaIsN0FbIupTBqK0Co5QOtnZdxOzNAXpOtzr2g-2Wx~x-D1Msfiy4cKvFze6Z1VyUePb4YyEi9C42pbQPFr-5ED69XkO1ya0Oqg__'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="hero-content">
        <h1>Liberia</h1>
    </div>
</section>
<section class="container content-section p-4">
    <div class="row align-items-center mb-5 p-4">
      <div class="col-md-6">
        <h3 class="section-title">Our Work in Liberia</h3>
        <p class="section-text">
          At ACCI, we recognize the potential of Liberia’s youth as catalysts for change. Through transformative initiatives like the Community Engagement Exchange (CEE) Workshop and the International Youth Day (IYD) Conference in 2024, we equipped young Liberians with the knowledge, tools, and platforms to lead sustainable development in their communities.
        </p>
        <ul class="section-text">
          <li><span class="bullet-title">CEE Workshop:</span> This hands-on workshop educated young people on how to access and maximize global opportunities and get rewarded and recognized for the work they do.</li>
          <li><span class="bullet-title">IYD Conference:</span> In celebration of International Youth Day, ACCI convened youth leaders, educators, and policymakers to discuss youth-centered policies, entrepreneurship, climate action, and digital inclusion.</li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <img style="width: 90%;" src="https://s3-alpha-sig.figma.com/img/96d9/5372/556c389c53f283b70900e742313e4ed3?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=AG0mvHbPsa1Sp04gz7akB4NneLim7KXQvGSSB9j1Xx3GXVW1qsxLaQtW8BZAxMInwSTQn4lefjssv0gLUwbhnxNSAiGzshdZi6VHYaS8koBtc8RBELVczgslmONKlpxCdYrhNd9WRyrqjVbOvLpF0s1hpOivi2fxM6IvraDlmnALr7AvJUGAfOF3nI8DvohWHC5cE7Jx33SSEQ9lkl6-d7ndAOeaoLseHKefbiLUcx73uEj~Oda0QNLdPDqr8rSEH204V6wgc~iEEzcJayO-M3hmIanaiAIakPMYk0Y6Kux-HaAeKO3qq80kNe1MgIWUUbYN5FZFWvMXI6oEP6f2Kg__" class="img-fluid" alt="CEE Workshop Photo">
      </div>
    </div>
  
    <div class="row align-items-center p-4 d-flex">
      <div class="col-md-6 text-center" id="VFL1">
        <img src="https://s3-alpha-sig.figma.com/img/1685/c53c/95aa7aaf935a867ce9dd0ad7014cc3e2?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FmBPmd2TiybK5BkPs3UeJVr4~keoLLei9D6X-1M6mdIzqwYtXBbxgtk21gaVM5PbrLQau1Cs4Mc4y-FTaZxDLrLkoaG7~i0BT-yipahUKg2M6Omcma96v7bm7XtpdVGxtVjj6zt6uZ4qu0yJ1JWoSJbFhR-mMISPHGlsDVtn0RcvHZwifS0lHiBHr-BGCf4bToo7wlJBx~Lz3ePEbUyv19Kim3xpMopwmrIwLjs3sUhAELjiGN28jTveobCBIUkNaQzk2hv9fTmNwIG5PKeH7xEptJKDVjaYbGP8swC0mTtE264ynFWIkxBogfDfpAmARuP-oxO7dyKTJIeXQQSg5A__" class="img-fluid" alt="Group Photo">
      </div>
      <div class="col-md-6">
        <h3 class="section-title">Our Vision for Liberia</h3>
        <p class="section-text">
          We are committed to continuing our work in Liberia through youth empowerment, climate action, and education programs that align with the Sustainable Development Goals (SDGs). Liberia is full of changemakers—and we’re here to support, amplify, and equip them.
        </p>
      </div>
      <div class="col-md-6 text-center" id="VFL2">
        <img src="https://s3-alpha-sig.figma.com/img/1685/c53c/95aa7aaf935a867ce9dd0ad7014cc3e2?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FmBPmd2TiybK5BkPs3UeJVr4~keoLLei9D6X-1M6mdIzqwYtXBbxgtk21gaVM5PbrLQau1Cs4Mc4y-FTaZxDLrLkoaG7~i0BT-yipahUKg2M6Omcma96v7bm7XtpdVGxtVjj6zt6uZ4qu0yJ1JWoSJbFhR-mMISPHGlsDVtn0RcvHZwifS0lHiBHr-BGCf4bToo7wlJBx~Lz3ePEbUyv19Kim3xpMopwmrIwLjs3sUhAELjiGN28jTveobCBIUkNaQzk2hv9fTmNwIG5PKeH7xEptJKDVjaYbGP8swC0mTtE264ynFWIkxBogfDfpAmARuP-oxO7dyKTJIeXQQSg5A__" class="img-fluid" alt="Group Photo">
      </div>
    </div>
  </section>
    <!-- Make sure Bootstrap is already linked in your HTML -->
  <div class="container content-section p-5">
      <!-- Get Involved Section -->
     
    </div>
  
    <div class="text-center mb-5 container">
      <div class=" mx-auto"></div>
      <h3 class="section-title">Get Involved</h3>
      <p class="section-text">
        Are you in Sierra Leone and passionate about making a difference? Join our community of volunteers, partners, and youth leaders.
      </p>
      <a href="https://forms.gle/gmFQahnWFFHrapZ3A" target="_blank" rel="noopener noreferrer" class="initiatives-btn text-white fw-bold px-4 py-2  mt-2">Volunteer</a>
    </div>
    <section>
        <div class="staff-section container">
          <h2 class="pt-5 fw-bold fs-1 pb-5">Staff Members</h2>
        
          <div class="container mt-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
              <div class="col">
                <div class="staff-card">
                  <img src="sarnuel.jpg" alt="John David">
                  <div class="staff-info">
                    <div class="staff-name">Sarnue  Washington</div>
                    <div class="staff-role">LRN</div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="staff-card">
                  <img src="pradish.jpg" alt="John David">
                  <div class="staff-info">
                    <div class="staff-name">Dr Pradish Poudel</div>
                    <div class="staff-role">MD</div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="staff-card">
                  <img src="monah.jpg" alt="John David">
                  <div class="staff-info">
                    <div class="staff-name">Isaac Tom Monah</div>
                    <div class="staff-role">ESQ</div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="staff-card">
                  <img src="andrew.jpg" alt="John David">
                  <div class="staff-info">
                    <div class="staff-name">Andrew Joploh</div>
                    <div class="staff-role">Member</div>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="staff-card">
                  <img src="oyin.jpg" alt="John David">
                  <div class="staff-info">
                    <div class="staff-name">Oyindamola Osinubi</div>
                    <div class="staff-role">Member</div>
                  </div>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </section>    
  