.hero {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: -102px;

}
#VFL2{
  display: none;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.section-title {
    color: #2F5597;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .yellow-bar {
    width: 40px;
    height: 4px;
    background-color: #FFD700;
    margin-bottom: 0.5rem;
  }
  .content-section {
    padding: 4rem 2rem;
  }
  .section-text {
    font-size: 1rem;
    line-height: 1.7;
  }
  .bullet-title {
    font-weight: 600;
    color: #2F5597;
  }
  .img-fluid {
    border-radius: 0.5rem;
  }
  .section-title {
    color: #2F5597;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .yellow-bar {
    width: 40px;
    height: 4px;
    background-color: #FFD700;
    margin-bottom: 0.5rem;
  }
  
  .section-text {
    font-size: 1.29rem;
    line-height: 1.7;
  }
  
  .bullet-title {
    font-weight: 600;
    color: #2F5597;
  }
  
  .img-fluid {
    border-radius: 0.5rem;
  }
  .initiatives-section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

@media (max-width: 800px) {
  section div p, section div, section div ul li {
    font-size: .9rem;
  }
  section div h1, section div h2, section div h3 {
    font-size: 1.5rem;
  }
  div h3, div h2, div h1 {
    font-size: 1.5rem;
  }
  div p, div ul li {
    font-size: .9rem;
  }
  #VFL2{
    display: block;
  }
  #VFL1{
    display: none;
  }
}
