<section class="hero" style="background-image: url('transform.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="hero-content">
        <h1>Contact Us.</h1>
    </div>
</section>
<section class="initiatives-section" style="background-image: url('flower.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="initiatives-content">
        <h2>Do You Support Our Mission</h2>
        <a href="https://forms.gle/r9vC4w1SyXgXJgsc9" target="_blank" rel="noopener noreferrer" class="initiatives-btn">Partner with Us</a>
    </div>
</section>