.hero {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section {
    background-color: white;
    padding: 40px 20px;
}

.initiatives-section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.initiatives-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.initiatives-content {
    position: relative;
    z-index: 1;
    color: white;
}

.initiatives-content h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
}

.initiatives-btn {
    display: inline-block;
    background-color: #FFC107;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.reach-btn {
    display: inline-block;
    background-color: #FFC107;
    color: white;
    padding: 12px 40px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.talk-section {
    background-color: #ffffff;
    padding: 4rem 1.5rem;
    text-align: center;
    max-width: 900px;
    margin: auto;
  }
  
  .talk-heading {
    font-size: 2rem;
    color: #1d3557;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .talk-text {
    font-size: 1.29rem;
    line-height: 1.7;
    color: #333;
    text-align: center;
  }
  

@media (max-width: 800px) {
    .initiatives-section {
        height: 200px;
    }
    .initiatives-content h2 {
        font-size: 20px;
    }
    .initiatives-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
