<section class="hero" style="background-image: url('transform.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="hero-content">
        <h1>Contact Us.</h1>
    </div>
</section>
<section class="talk-section">
    <h2 class="talk-heading">Let’s Talk</h2>
    <p class="talk-text">
      Action for Collective Change Initiative (ACCI) is a U.S.-based 501(c)(3) grassroots non-profit
      organization committed to creating positive sustainable changes in communities worldwide.
      ACCI addresses social, economic, and environmental challenges through community-driven programs,
      empowering individuals, communities, and societies to thrive through local action and live better narratives.
    </p>
    <a href="https://forms.gle/r9vC4w1SyXgXJgsc9" target="_blank" rel="noopener noreferrer" class="reach-btn mt-2">Reach out to us</a>
  </section>
  
<section class="initiatives-section" style="background-image: url('flower.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="initiatives-content">
        <h2>support our mission?</h2>
        <a href="https://forms.gle/r9vC4w1SyXgXJgsc9" target="_blank" rel="noopener noreferrer" class="initiatives-btn">Partner with Us</a>
    </div>
</section>