<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <img src="ACCI-logo.png" alt="ACCI Logo" class="footer-logo">
            <p  class="pip">
                ACCI is dedicated to making a  meaningful impact through  innovative solutions 
                and  community-driven projects.  Together, we strive for progress  and positive 
                change, one step at  a time. Your support empowers  us to create a better tomorrow.
            </p>
        </div>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

        <div class="footer-middle">
            <h4 class="navigation">Navigation</h4>
            <ul>
                <li><a [routerLink]="['/about']">About Us</a></li>
                <li><a href="https://forms.gle/gmFQahnWFFHrapZ3A" target="_blank" rel="noopener noreferrer">Volunteer</a></li>
                <li><a [routerLink]="['/key-initiative']">Our Programmes</a></li>
                <li><a [routerLink]="['/upcoming-event']" >Upcoming Events</a></li>
                <li><a href="../ACCIBlog">Blog</a></li>
                <li><a href="https://forms.gle/FbaUSQs8uqTHDi4u9" target="_blank" rel="noopener noreferrer">Partner with Us</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <h4 class="navigation">Contact</h4>

            <p><i class="fas fa-envelope"></i> info&#64;weareacci.org</p>  
            <p><i class="fas fa-map-marker-alt"></i>21 N 60th St. Philadelphia, PA 19139</p>  
            <p><i class="fas fa-phone"></i> +1 610 509 0996</p>
            <div class="social-media-icons">
                <a href="https://www.instagram.com/weareacci/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/WeAreACCI" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com/company/weareacci" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <section class="partners-section pt-5">
        <div class="partners-logos">
            <div>
                <img src="one.jpeg" alt="Ideas For Us" class="mar-gin">
                <img src="shar.jpg" alt="Share Food Program" class="mar-gin">
                <img src="three.png" alt="Institution Logo" class="mar-gin">
                <img src="four.png" alt="Gaia" class="mar-gin">
                <img src="six.png" alt="Community Engagement Exchange Program" class="mar-gin">
            </div>
        </div>
    </section>
    <div class="footer-bottom">
        <p>Copyright © 2025 ACCI. All Rights Reserved</p>
    </div>
</footer>