.footer {
    background-color:  #318FF3;
    color: white;
    padding: 40px 20px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    max-width: 1600px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-left,
.footer-middle,
.footer-right {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.footer-logo {
    width: 500px;
    margin-top: -170px;
    margin-left: -165px;
}
.pip{
    font-size: 20px;
    margin-top: -150px;
}

.footer p {
    font-size: 20px;
    line-height: 1.6;
   
}
.footer-middle ul {
    list-style: none;
    font-size: 20px;
}

.footer-middle ul li {
    margin-bottom: 10px;
}

.footer-middle ul li a {
    text-decoration: none;
    color: white;
}

.footer-middle ul li a:hover {
    color: yellow;
}

.footer-right p {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-right a {
    color: white;
    font-weight: bold;
}

.footer-right a:hover {
    color: yellow;
}

.footer-bottom {
    margin-top: 90px;
    font-size: 5px;
    text-align: center;
}

.footer i {
    font-size: 26px;
}
.partners-section {
    /* display: flex; */
   
    align-items: center;
    justify-content: center;
    background-color: #318FF3;
    max-width: 100%;
}
.partners-section h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 30px;
    /* align-items: center; */
}

.partners-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 50px; /* reduced from 30px */
    /* padding: 20px; */
    width: 100%;
}

.partners-logos img {
    max-width: 100px;
    height: auto;
}
.mar-gin{
    margin-left: 50px;

}
#focus-grid2 {
    display: none;
}

@media screen and (max-width: 800px) {
    .partners-section {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #318FF3;
        max-width: 100%;
    }
    
    .partners-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 10px; /* reduced from 30px */
        padding: 20px;
        width: 100%;
    }
    
    .mar-gin{
        margin-left: 10px;
    
    }

    .partners-logos img {
        max-width: 50px;
    }
}

@media (max-width: 800px) {
    .focus-section {
        flex-direction: column;
        text-align: center;
    }

    .focus-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .focus-info {
        width: 100%;
        margin-top: 20px;
    }
    .footer p {
        font-size: .9rem;
       
    }
    .footer-middle ul {
        list-style: none;
        font-size: .9rem;
    }
    
}