.bar{
    background-color: #318FF3;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.logo{
    width: 250px;
    margin-left: -80px;
    margin-bottom: -70px;
    margin-top: -80px;
}
.con{
    margin-left: 50px;
    margin-right: 50px;
}
.move {
    padding-left: 100px;
    /* margin-right: 100px; */
}
@media screen and (max-width: 800px) {
    .con{
        margin-left: 0px;
        margin-right: 0px;
    }
    .logo{
        margin-left: -20px;
        width: 150px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .move {
        padding-left: 0px;
    }
}