p {
    font-size: 1.29rem;
}
.hero {
    position: relative;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.initiative-section {
    margin-bottom: 2rem;
}

.light-blue-bg {
    background-color: #E6F0F9;
}

.initiative-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.initiative-content h2 {
    color: #2B4F81;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.initiative-content p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.initiative-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}



.no-padding {
    padding: 0;
}
.initiatives-section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.initiatives-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.initiatives-content {
    position: relative;
    z-index: 1;
    color: white;
}

.initiatives-content h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
}

.initiatives-btn, .btn-register {
    display: inline-block;
    background-color: #FFC107;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.initiatives-btn:hover, .btn-register:hover {
 background-color: black;
 color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
@media (max-width: 800px) {
    .initiatives-section {
        height: 200px;
    }
    .initiatives-content h2 {
        font-size: 20px;
    }
    .initiatives-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
    .sid {
        display: flex;
        flex-direction: column;
        gap:  30px;
    }
}  
@media (max-width: 800px) {
    .initiative-content {
        padding: 2rem;
    }
    section div p, section div, section div ul li {
        font-size: .9rem;
      }
      section div h1, section div h2, section div h3 {
        font-size: 1.5rem;
      }
      div h3, div h2, div h1 {
        font-size: 1.5rem;
      }
      div p, div ul li {
        font-size: .9rem;
      }
      .initiative-content h2 {
        font-size: .5rem;
      }
      .initiative-content h2 {
        font-size: 1.5rem;
    }
}