<section class="hero" style="background-image: url('seria.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; ">
    <div class="hero-content">
        <h1>Sierra Leone</h1>
    </div>
</section>

<section class="container content-section p-4">   
    
    <!-- Our Work in Sierra Leone -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
          <div class=""></div>
          <h3 class="section-title">Our Work in Sierra Leone</h3>
          <p class="section-text">
            ACCI is fostering climate leadership & innovation and youth development in Sierra Leone through strategic programs that equip young people with practical solutions to today’s pressing challenges.
          </p>
          <ul class="section-text">
            <li><span class="bullet-title">Climate Workshop:</span> Through this impactful 2-day workshop, participants learned how climate change affects their communities and what role they can play in driving local and global climate solutions.</li>
            <li><span class="bullet-title">Community Innovation Hub Project:</span> We created safe, inspiring spaces for youth to learn, co-create, and collaborate. Focus areas include computer literacy, fashion design, cake making, arts & crafts, etc.</li>
          </ul>
        </div>
        <div class="col-md-6 text-center">
          <img src="womanseria.jpg" class="img-fluid" alt="Climate Workshop Sierra Leone">
        </div>
      </div>
    
      <!-- Our Vision for Sierra Leone -->
      <div class="row align-items-center " id="VFL">
        <div class="col-md-6 text-center">
          <img src="classseria.jpg" class="img-fluid" alt="Vision Workshop Sierra Leone">
        </div>
        <div class="col-md-6">
          <div class=""></div>
          <h3 class="section-title">Our Vision for Sierra Leone</h3>
          <p class="section-text">
            We believe in the creativity, resilience, and leadership of Sierra Leonean youth. Our work is focused on building their capacity to lead climate resilience efforts, drive innovation, and co-create thriving, inclusive communities.
          </p>
        </div>
    </div>

    <div class="text-center mb-5 mt-5 container">
        <div class=" mx-auto"></div>
        <h3 class="section-title">Get Involved</h3>
        <p class="section-text">
          Are you in Sierra Leone and passionate about making a difference? Join our community of volunteers, partners, and youth leaders.
        </p>
        <a [routerLink]="['/volunteer']" rel="noopener noreferrer" class="initiatives-btn text-white fw-bold px-4 py-2  mt-2">Volunteer</a>
    </div>
</section>
